<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.dao.CategoryMapper">
	<!-- 查询分类是否已经存在 -->
	<select id="findCategoryByName" parameterType="string" resultType="Category">
		select * from system_book_category where category=#{name}
	</select>
	<!-- 添加新的分类 -->
	<insert id="addNewCategory" parameterType="string">
		insert into system_book_category(category) values(#{name})
	</insert>
</mapper>
















